.screen{
    background-image: url('../../assets/Vector.png');
    width: 100%;
    height:auto;
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;

}
