#APPLICATION VARIABLE
NODE_ENV = development
PORT = 3333
HOST = "0.0.0.0"
HASH_SALT_ROUNDS = 12


#POSTGRESql
POSTGRES_HOST = localhost
POSTGRES_USER = postgres
POSTGRES_PASSWORD = postgres
POSTGRES_DB = projetoFinal
POSTGRES_PORT = 5440
SCHEMA= public

DATABASE_URL="postgresql://postgres:passaword@localhost:5440/projetoFinal?schema=public"


#JWT VARIABLE
JWT_SECRET = ahgepcxealhxrgigsxamca
