
:root {

    --red-0: #ED8E96;
    --red-100: #E06A73;
    --red-200: #B82935;
    --red-300: #A31621;
    --red-400: #74010B;
    --red-500: #3E0005;

    --blue-0: #97C3D8;
    --blue-100: #72A8C1;
    --blue-200: #4E8098;
    --blue-300: #3E677A;
    --blue-400: #274553;

    --gray-0: #F5F8FF;
    --gray-100: #CED3DC;
    --gray-200: #A4A8B0;
    --gray-300: #87888B;
    --gray-400: #5F6165;

    --white: #FCF7F8;
    --black: #171717;
}